# -------------------
# NEXT.JS (Frontend)
# -------------------

# Dependencies
client/node_modules/
/client/.pnp
/client.pnp.*
/client.yarn/*
!/client.yarn/patches
!/client.yarn/plugins
!/client.yarn/releases
!/client.yarn/versions

# Testing
/client/coverage

# Next.js build output
/client/.next/
/client/out/

# Production build
/client/build

# Vercel deployment
/client/.vercel

# TypeScript
/client/*.tsbuildinfo
/client/next-env.d.ts

# Misc
/client/.DS_Store
/client/*.pem

# Debug logs
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.pnpm-debug.log*

# Environment files
/client/.env*

# -------------------
# FLASK (Backend)
# -------------------

# Virtual Environment
/server/venv/
/server/__pycache__/
/server/*.pyc
/server/*.pyo

# Flask app logs
/server/instance/
/server/*.log

# Ignore compiled Python files
/server/*.py[cod]

# Local development databases
/server/*.sqlite3

# AWS credentials (Ensure you use environment variables instead)
server/.aws/

# Misc
/server/.DS_Store
/server/Thumbs.db
